* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
h1 {
  color: #1048b1;
  margin: 10px 0;
}
header {
  padding: 30px 20px;
}
header a {
  color: #3875e6;
  text-decoration: none;
}

a:hover {
  color: rgb(85, 72, 202);
}

main {
  padding: 0 20px;
}

#user-list table {
  width: 100%;
  font-size: 1.2rem;
}
#user-list .table-container {
  overflow-x: auto;
}
#user-list td,
#user-list th {
  padding: 10px 5px;
}
#user-list tr {
  background-color: #9a9fa144;
}
#user-list tr:nth-child(even) {
  background-color: #2c2e2f44;
}

#user-list tbody tr:hover {
  background-color: #7abee0ee;
}
#user-list .table-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#user-list .table-actions a {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
#user-list .table-actions a.table-link-show {
  background-color: #03293bee;
}
#user-list .table-actions a.table-link-show:hover {
  background-color: #03293baa;
}
#user-list .table-actions a.table-link-edit {
  background-color: #392a8bee;
}
#user-list .table-actions a.table-link-edit:hover {
  background-color: #392a8baa;
}
#user-list .table-actions a.table-link-delete {
  background-color: #923333;
}
#user-list .table-actions a.table-link-delete:hover {
  background-color: #923333aa;
}
.error-alert {
  font-size: 1.5rem;
  color: red;
}
.success-alert {
  font-size: 1.5rem;
  color: green;
}
.validation-alert {
  font-size: 1.5rem;
  color: #c4a621;
}
#user-create,
#user-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#user-create form,
#user-edit form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

#user-create input,
#user-edit input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin: 10px 0;
}

#user-create button,
#user-delete button,
#user-edit button {
  width: 50%;
  height: 40px;
  padding: 0 10px;
  margin: 10px 0;
  cursor: pointer;
  background-color: #03293bee;
  color: #fff;
  border-radius: 10px;
}
#user-create button:hover,
#user-delete button:hover,
#user-edit button:hover {
  background-color: #03293baa;
}
#user-delete button {
  width: 100px;
}
#user-delete a button {
  background-color: #0d9ee0ee;
}
#user,
#user-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#user div,
#user-delete div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#user span,
#user-delete span {
  font-size: 1.2rem;
  font-weight: 700;
}
/* Tablet */
@media only screen and (min-width: 600px) {
  #user-create form,
  #user-edit form {
    width: 60%;
  }
}
/* Desktop */
@media only screen and (min-width: 992px) {
  #user-list .table-actions {
    width: auto;
    display: block;
  }
  #user-create form,
  #user-edit form {
    width: 40%;
    max-width: 600px;
  }
}
