<header>
  <div>
    <a href="/">Página Inicial</a> | <a href="/user">Usuários</a> | <a href="/user/create">Adicionar usuário</a>
   | <a href="/category">Categorias</a> |  <a href="/category/create">Adicionar Categorias</a>
  </div>
</header>